body {
  background-color: black  ;
}
.principal {
  display: flex;
  justify-content: center;
align-content: center;

}
.imagen {
display: flex;
justify-content: center;
align-content: center;
}

h1 {
  
  color: blue;
  
  }